* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.page-container {
  width: 960px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.product-listing {
  margin-top: 50px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-listing .product-list-item {
  padding: 10px 10px;
  width: 230px;
}

.product-list-item:hover {
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.09);
}

.top-menu {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  color: white;
  background-color: #333;
}

.top-menu ul {
  line-height: 50px;
}

.top-menu li {
  display: inline-block;
}

.top-menu li:before {
  content: '|';
  margin: 0 2rem;
}

.top-menu li:nth-child(1):before {
  content: '';
  margin: 0;
}
